<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:aop="http://www.springframework.org/schema/aop" 
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd" default-lazy-init="true">
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<!-- Configuration initialization size-->
		<property name="initialSize" value="5" />
		<!-- Configuration initialization minimum -->
		<property name="minIdle" value="1" />
		<!-- Configuration initialization Max -->
		<property name="maxActive" value="50" />

		<!-- Connection time out -->
		<property name="maxWait" value="60000" />
		
		<!-- Configuration interval how long before the detection，To detect idle connections that need to be closed，Unit is millisecond -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="validationQuery" value="SELECT 'x'" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="poolPreparedStatements" value="false" />
		<!-- <property name="maxPoolPreparedStatementPerConnectionSize" value="20"/> -->
        <!--Connection leakage treatment。DruidProvidedRemoveAbandandedRelated configuration，Used to close the connection that is not used for a long time.。-->
        <!-- openremoveAbandonedfunction --> 
        <property name="removeAbandoned" value="true"/>      
        <!-- 1800second，that is30Minute -->
        <property name="removeAbandonedTimeout" value="1800"/>
         <!-- CloseabandedOutput error log -->       
        <property name="logAbandoned" value="true"/>
                 
        <!-- Configuration monitoring statistics interceptfilters -->      
        <!-- <property name="filters">stat,wall</property> --> 
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- cglibAdministrative affairs，Control in the implementation class -->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">  
        <property name = "dataSource" ref="dataSource" />  
    </bean>
	
</beans>